In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("nfl_stadiums.csv", encoding="unicode_escape")
df.head()

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_weather_type,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,Acrisure Stadium,"Pittsburgh, PA",2001.0,NaN,outdoor,"100 Art Rooney Ave, Pittsburgh, PA 15212",15212,cold,"65,500",Grass,USW00094823,"PITTSBURGH ASOS, PA US",40.4846,-80.2144,366.7
1,Alamo Dome,"San Antonio, TX",NaN,NaN,indoor,"100 Montana St, San Antonio, TX 78203",78203,dome,72000,FieldTurf,NaN,NaN,NaN,NaN,NaN
2,Allegiant Stadium,"Paradise, NV",2020.0,NaN,indoor,NaN,NaN,dome,65000,Grass,NaN,NaN,NaN,NaN,NaN
3,Allianz Arena,"Munich, Germany",NaN,NaN,outdoor,NaN,NaN,moderate,"75,024",Grass,NaN,NaN,NaN,NaN,NaN
4,Alltel Stadium,"Jacksonville, FL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   stadium_name                  118 non-null    object
 1   stadium_location              116 non-null    object
 2   stadium_open                  89 non-null     float64
 3   stadium_close                 41 non-null     float64
 4   stadium_type                  107 non-null    object
 5   stadium_address               101 non-null    object
 6   stadium_weather_station_code  100 non-null    object
 7   stadium_weather_type          107 non-null    object
 8   stadium_capacity              53 non-null     object
 9   stadium_surface               67 non-null     object
 10  STATION                       61 non-null     object
 11  NAME                          61 non-null     object
 12  LATITUDE                      61 non-null     float64
 13  LONGITUDE                     61 non-null     float64
 14  ELEVATION                     61 non-null     float64
dtypes: float64(5), object(10)
memory usage: 14.0+ KB

In [6]:
df2 = pd.read_csv("nfl_teams.csv", encoding="unicode_escape")
df2.head()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
2,Baltimore Colts,Colts,IND,CLT,AFC,NaN,AFC,AFC East
3,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central
4,Boston Patriots,Patriots,NE,NWE,AFC,NaN,AFC,NaN

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   team_name                44 non-null     object
 1   team_name_short          44 non-null     object
 2   team_id                  44 non-null     object
 3   team_id_pfr              44 non-null     object
 4   team_conference          44 non-null     object
 5   team_division            35 non-null     object
 6   team_conference_pre2002  44 non-null     object
 7   team_division_pre2002    42 non-null     object
dtypes: object(8)
memory usage: 2.9+ KB

In [10]:
df3 = pd.read_csv("spreadspoke_scores.csv", encoding="unicode_escape")
mask = df3.schedule_season >= 1999
df3 = df3.loc[mask]
df3.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
7095,9/12/1999,1999,1,False,Atlanta Falcons,14.0,17.0,Minnesota Vikings,MIN,-4.0,49,Georgia Dome,False,72.0,0.0,NaN,DOME
7096,9/12/1999,1999,1,False,Chicago Bears,20.0,17.0,Kansas City Chiefs,KC,-3.0,38,Soldier Field,False,68.0,10.0,69.0,NaN
7097,9/12/1999,1999,1,False,Cleveland Browns,0.0,43.0,Pittsburgh Steelers,PIT,-6.0,37,FirstEnergy Stadium,False,70.0,10.0,54.0,NaN
7098,9/12/1999,1999,1,False,Green Bay Packers,28.0,24.0,Oakland Raiders,GB,-9.0,43,Lambeau Field,False,61.0,9.0,84.0,NaN
7099,9/12/1999,1999,1,False,Indianapolis Colts,31.0,14.0,Buffalo Bills,BUF,-3.0,45.5,RCA Dome,False,72.0,0.0,NaN,DOME

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13504 entries, 0 to 13503
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   schedule_date        13504 non-null  object
 1   schedule_season      13504 non-null  int64
 2   schedule_week        13504 non-null  object
 3   schedule_playoff     13504 non-null  bool
 4   team_home            13504 non-null  object
 5   score_home           13326 non-null  float64
 6   score_away           13326 non-null  float64
 7   team_away            13504 non-null  object
 8   team_favorite_id     10847 non-null  object
 9   spread_favorite      10847 non-null  float64
 10  over_under_line      10837 non-null  object
 11  stadium              13504 non-null  object
 12  stadium_neutral      13504 non-null  bool
 13  weather_temperature  12280 non-null  float64
 14  weather_wind_mph     12264 non-null  float64
 15  weather_humidity     8441 non-null   float64
 16  weather_detail       2914 non-null   object
dtypes: bool(2), float64(6), int64(1), object(8)
memory usage: 1.6+ MB